body {
    font-family: "Roboto", sans-serif, "Helvetica Neue","Verdana", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    color: #434455;
    background-color: #FFFFFF;
}
.logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-studio{
    color: #2e2f42;
}
    .page-nav {
letter-spacing: 2%;
line-height: 3.75em;
}
.page-address {
font-size: 12px;
line-height: 16px;
letter-spacing: 4%;
text-decoration: underline;
}
